<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BaphiqSalePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BaphiqSalePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://crop.baphiq.gov.tw:443/mPosService/BaphiqSale"
                binding="basicHttpBinding" bindingConfiguration="BaphiqSalePortBinding"
                contract="BaphiqSale.BaphiqSale" name="BaphiqSalePort" />
        </client>
    </system.serviceModel>
</configuration>